extends ../layout

block content

    #beities.container-fluid

        ol.breadcrumb.alert.alert-info
            li
                a(href="/shufa/") 历代名家
            li
                a(href="../")= author
            li
                a(href="../#{prev}/") 上一法帖
            li
                a(href="../#{next}/") 下一法帖
            li.paper-name-container.active
                = paper
                a.paper-name(href="./info")= "\u00B6"

        - if (info.text)
            .alert.alert-info
                #beitie-text-show
                    != info.text


        #beitie-imgs-container(data-img-size="#{images.length}")
            each file, index in images
                - if (index == 0)
                    .thumbnail.beitie-img-container(id="a#{index}")
                        img.img-responsive.beitie-img(src="/#{path1000}/#{file}")
                - else
                    .thumbnail.beitie-img-container.hide.beitie-lazy-container(id="a#{index}", data-original="/#{path1000}/#{file}")

        #load-finished.hide.alert.alert-warning.
            此法帖已经全部加载!

block footer
    footer#footer
        #footer-info
            ul#beitie-img-pagination
                li(role="presentation")
                    a#beitie-img-home.btn.btn-default(href="#navbar-top") 顶部
                li(role="presentation")
                    a#beitie-img-blocks.btn.btn-default.hide(href="#") 平铺
                li(role="presentation")
                    a#beitie-img-next.btn.btn-default(href="#") 下一张

        script(src="/javascripts/jquery.blocksit.js")
        script(src="/javascripts/show.js")
