extends layout

block content
    #beities.container-fluid

        #beitie-imgs-container
            each fatie, index in faties
                .thumbnail.beitie-img-container
                    img.img-responsive.beitie-img.beitie-lazy-img(src="/#{fatie.dir}/w100/#{fatie.cover}", data-original="/#{fatie.dir}/w1000/#{fatie.cover}")
                    .caption
                        .text-center
                            a(target="_blank", href="#{fatie.dir}")= fatie.name

        script(src='/javascripts/index.js')
