extends formlayout

block content

    #beities.container-fluid
        form.form.alert.alert-warning(method='post')
            .row
                .col-md-6.col-sm-12
                    .input-group
                        input.form-control(type="text", name="keywords")
                        span.input-group-btn
                            input.btn.btn-default(type="submit", value="搜索")

        #beitie-imgs-container
            each fatie, index in faties
                .thumbnail.beitie-img-container
                    img.img-responsive.beitie-img.beitie-lazy-img(src="/#{fatie.dir}/w100/#{fatie.cover}", data-original="/#{fatie.dir}/w1000/#{fatie.cover}")
                    .caption
                        .text-center
                            a(target="_blank", href="/#{fatie.dir}")= fatie.name

        script(src='/javascripts/index.js')
