extends ../formlayout

block content

    #beities.container
        form#beitie-info-contaioner.form.form-inline.alert.alert-info(method="post")
            .row
                .col-md-3
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 名称
                            input.form-control.input-sm(type="text", name="name", value="#{info.name}")
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 朝代
                            input.form-control.input-sm(type="text", name="dynasty", value="#{info.dynasty}")
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 书体
                            input.form-control.input-sm(type="text", name="category", value="#{info.category}")
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 作者
                            input.form-control.input-sm(type="text", name="author", value="#{info.author}")
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 材质
                            input.form-control.input-sm(type="text", name="type", value="#{info.type}")
                .col-md-9
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 简介
                            input#beitie-description.form-control.input-sm(type="text", name="description", value="#{info.description}")
                    .row.beitie-info-row
                        .form-group.col-md-12.col-sm-12
                            label 内容
                            textarea#beitie-text.form-control(name="text")= info.text
            .row.beitie-info-row
                .col-md-12
                    .row
                        .form-group.col-md-12.col-sm-12.text-center
                            input#back-button.form-control(type="button", value="返回")
                            input.form-control(type="submit", value="保存")
                            script.
                                $('#back-button').click(function() {
                                    history.back();
                                });

