extends ../layout

block content

    #beities.container-fluid

        ol.breadcrumb.alert.alert-info
            li
                a(href="../")= author
            li
                a(href="../#{prev}/") 上一法帖
            li
                a(href="../#{next}/") 下一法帖
            li.paper-name-container
                span= paper
                a.paper-name(href="./info")= "\u00B6"

        #beitie-imgs-container(data-img-size="#{images.length}")
            each file, index in images
                - if (index < 2)
                    .thumbnail.beitie-img-container(id="a#{index}")
                        img.img-responsive.beitie-img(src="#{path1000}/#{file}")
                - else
                    .thumbnail.beitie-img-container.beitie-lazy-container(id="a#{index}")
                        img.img-responsive.beitie-img.beitie-lazy-img(src="#{path100}/#{file}", data-original="#{path1000}/#{file}")

        - if (info.text)
            .alert.alert-info.hide
                #beitie-text-show
                    != info.text

block footer
    footer#footer
        #footer-info
            ul#beitie-img-pagination
                li(role="presentation")
                    a#beitie-homepage.btn.btn-default(href="/") 首页
                li(role="presentation")
                    a#beitie-img-home.btn.btn-default(href="#navbar-top") 顶部
                li(role="presentation")
                    #beitie-img-blocks.btn.btn-default 平铺

        script(src="/javascripts/show.js")
